.notification{
    margin-top: 250px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 100px;
}
.notification .title {
    text-align: center;
}

.notification button {
    margin-top: 25px;
}
.box .box{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 150px;
    padding: 15px;
}